html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(3%) 
    saturate(11%) hue-rotate(98deg) brightness(103%) contrast(100%);

    --body-bg-color: #292E39;
    --header-bg-color: #171C28;
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    --top-act-group-separate: #ededf6;
}