@use '../abstracts';

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(3%) 
    saturate(11%) hue-rotate(98deg) brightness(103%) contrast(100%);

    --body-bg-color: #292E39;
    --header-bg-color: #171C28;

    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    --top-act-group-separate: #ededf6;
    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.20);
    }

     // Header
     --header-act-dropdown-inner-bg:#3f4553;
     --header-act-dropdown-inner-shadow:rgba(23, 28, 40, 0.40);
     --header-act-dropdown-inner-border-color: #171C28;
     --header-act-dropdown-inner-text-color:  #B9BABE;
   

    

    // Dropdown
    --dropdown-bg-color: #3f4553;
    --dropdown-shadow-color:rgba(23, 28, 40, 0.40);
    --dropdown-arrow-color:  brightness(0) saturate(100%) invert(23%) sepia(3%) saturate(4218%) hue-rotate(184deg) brightness(89%) contrast(79%);

    --top-menu-border-color: #171C28;

    --menu-column-link-hover-color: #0071DC;

    --menu-column-icon-color: brightness(0) saturate(100%) invert(99%) sepia(35%) saturate(778%) hue-rotate(205deg) brightness(104%) contrast(96%);

     // Sidebar 
     --sidebar-bg-color: #292E39;
     --sidebar-shadow-color: rgba(23, 28, 40, 0.40);

     // Cate-Items
    --cate-item-bg: #171C28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;

    @include abstracts.screen(md) {
        --cate-item-bg: #171C28;
    }

      // Buttons 
      --filter-btn-bg: #171C28;
      --filter-btn-title-color: #fff;
      --like-btn-bg-color:#292e39;
      // Product Card
      --product-card-bg: #171C28;
      --product-card-shadow-color: rgba(0, 0, 0, 0.20);

       // Filter Form 
    --filter-bg-color: var(--dropdown-bg-color);
    --filter-shadow-color: var(--dropdown-shadow-color);

    //Form
    --form-tags-bg-color: #171C28;
    --form-select-dialog-shadow: rgba($color: #fff, $alpha: 0.15);
    --form-select-dialog-bg: #2f3441;
    --form-option-hover-bg:     #292e39;


     // Auth
     --auth-content-bg:#292E39;
     --auth-intro-color:#171C28;
     --auth-intro-text-color: #B9BABE;
     --auth-content-heading-color: #B9BABE;

        // Product Page
    --product-page-bg-color:#292E39;

    // Breadcrumbs
    --breadcrumbs-bg-color: #171C28;
    --breadcrumbs-shadow-color: rgba(23, 28, 40, 0.20);


    // Product Info
    @include abstracts.screen(lg) {
        --product-info-content-bg: #171C28;
    }
    --product-info-bg-color: #171C28;
    --product-info-tag-bg: #292E39;

    // Search-bar
    --search-bar-bg:#171C28;

    // Review Card 
    --review-card-bg:#171C28;

    // Checkout Page

    --checkout-breadcrumb-bg-color: #171C28;
    --checkout-breadcrumb-shadow-color: rgba(23, 28, 40, 0.20);
    --checkout-page-bg-color:#292E39;
    --checkout-cart-info-bg: #171C28;
    --checkout-cart-info-shadow: rgba(23, 28, 40, 0.20);
    --checkout-gift-item-bg: #292E39;
    --checkout-gift-item-shadow: rgba(23, 28, 40, 0.20);
    --checkout-cart-item-border-color: #292E39;

    // Dialog / Modal
    --dialog-bg:#3f4553;
    --dialog-shadow: rgba(23, 28, 40, 0.40);

}