@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(30%) saturate(1163%) hue-rotate(210deg) brightness(94%)
        contrast(97%);

    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;

    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }
    // Header
    --header-act-dropdown-inner-bg: #fff;
    --header-act-dropdown-inner-shadow: rgba(200, 200, 200, 0.4);
    --header-act-dropdown-inner-border-color: #ebebeb;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);

    --top-menu-border-color: #d2d1d6;

    --menu-column-link-hover-color: #0071dc;

    // Sidebar
    --sidebar-bg-color: #fff;
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);

    // Cate-Items
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Buttons
    --filter-btn-bg: #fff;
    --filter-btn-title-color: #6c6c72;
    --like-btn-bg-color: #fff;

    // Product Card
    --product-card-bg: #fff;
    --product-card-shadow-color: rgba(237, 237, 246, 0.2);

    // Filter Form
    --filter-bg-color: #fff;
    --filter-shadow-color: rgba(200, 200, 200, 0.4);

    // Form
    --form-tags-bg-color: #f8f8fb;
    --form-select-dialog-shadow: rgba($color: #000000, $alpha: 0.15);
    --form-select-dialog-bg: #fff;
    --form-option-hover-bg: #ebebeb

    // Auth
    --auth-content-bg: #fff;
    --auth-intro-color: #fafafd;

    @include abstracts.screen(lg) {
        --auth-intro-color: #fff;
    }

    // Product Page
    --product-page-bg-color: #fff;

    @include abstracts.screen(lg) {
        --product-page-bg-color: #fafafd;
    }

    // Breadcrumbs
    --breadcrumbs-bg-color: #f6f6f6;
    --breadcrumbs-shadow-color: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(lg) {
        --breadcrumbs-bg-color: #fff;
    }

    // Product Info
    @include abstracts.screen(lg) {
        --product-info-content-bg: #fff;
        --product-info-bg-color: #fff;
    }
    --product-info-bg-color: #f6f6f6;
    --product-info-tag-bg: #ededf6;

    // Search-bar
    --search-bar-bg: #fff;

    // Review Card
    --review-card-bg: #fafafd;
    @include abstracts.screen(lg) {
        --review-card-bg: #fff;
    }

    // Checkout Page
    // --checkout-page-bg-color:#f6f6f6;
    @include abstracts.screen(lg) {
        --checkout-page-bg-color: #fafafd;
    }

    --checkout-breadcrumb-bg-color: #fff;
    --checkout-breadcrumb-shadow-color: rgba(237, 237, 246, 0.2);
    --checkout-cart-info-bg: #fff;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
    --checkout-gift-item-bg: rgb(118, 68, 225, 0.1);
    --checkout-gift-item-shadow: rgba(237, 237, 246, 0.2);
    --checkout-cart-item-border-color: #d2d1d6;

    // Dialog / Modal
    --dialog-bg:#fff;
    --dialog-shadow: rgba(237, 237, 246, 0.2);
}