@use '../abstracts';

html {
    --text-color:#1A162E;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(30%) 
    saturate(1163%) hue-rotate(210deg) brightness(94%) contrast(97%);

    --body-bg-color: #F6F6F6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.20);
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color:rgba(200, 200, 200, 0.4);

    --top-menu-border-color: #D2D1D6;

    --menu-column-link-hover-color: #0071DC;

    // Sidebar 
    --sidebar-bg-color: #fff;
    --sidebar-shadow-color: rgba(200, 200, 200, 0.40);
}