@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.screen(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    position: relative;
    @extend %flexItemsCenter;
    padding: 2rem 0;
    z-index: 10;

    @include abstracts.screen(lg) {
        padding: 2rem 0;
    }

    @include abstracts.screen(md) {
        padding: 1.6rem;
        justify-content: space-between;
    }

    &__logo {
        @include abstracts.screen(lg) {
            column-gap: 1rem !important;
            margin-left: 4rem;

            &-img {
                width: 2.4rem;
            }

            &-title {
                font-size: 1.8rem !important;
            }
        }

        @include abstracts.screen(md) {
            margin-left: 0;
        }
    }
}

.navbar {
    margin-left: 12.9rem;

    @include abstracts.screen(xl) {
        margin-left: 2.5rem;
    }

    @include abstracts.screen(lg) {
        position: fixed;
        z-index: 10;
        inset: 0 50% 0 0;
        background: var(--sidebar-bg-color);
        border-radius: 0rem 2rem 2rem 0rem;

        margin-left: 0;
        padding: 2rem 0;
        translate: -100%;
        transition: translate 0.5s;

        &.show {
            translate: 0;
            box-shadow: 0px 40px 90px 20px var(--sidebar-shadow-color);
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstracts.screen(sm) {
        inset: 0 12% 0 0;
    }

    &__close-btn {
        @include abstracts.screen(lg) {
            padding: 1rem 4rem;
        }

        @include abstracts.screen(sm) {
            padding: 0 2rem 1rem;
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: opacity, visibility;
            transition-duration: 0.5s;
            background: rgba($color: #1b1b1b, $alpha: 0.3);
        }
    }

    &__list {
        @extend %flexItemsCenter;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
            overflow-y: auto;
            overflow-behavior: contain;
            height: calc(100% - 4rem);
        }

        @include abstracts.screen(md) {
            height: calc(100% - 14rem);
        }

        @include abstracts.screen(sm) {
            height: calc(100% - 12rem);
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            width: 100%;
            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }
        }
    }

    &__link {
        @extend %flexItemsCenter;
        height: 5rem;
        padding: 0 1.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(lg) {
            padding: 0 4rem;
            font-size: 1.6rem;
            line-height: 150%;
            justify-content: space-between;
        }

        @include abstracts.screen(sm) {
            padding: 0 2rem;
            height: 4.4rem;
        }
    }

    &__arrow-down {
        margin-top: 0.3rem;
        margin-left: 0.6rem;

        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: rotate 0.5s;
        }
    }

    &__item--active &__arrow-down {
        rotate: 0deg;
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap: 2rem;
    margin-left: auto;

    @include abstracts.screen(md) {
        margin-left: 0;

        &__btn {
            height: 3.8rem !important;
            font-size: 1.5rem !important;
        }
    }

    &__group {
        @extend %flexItemsCenter;
        min-width: 5rem;
        height: 5rem;
        border-radius: 0.8rem;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
    }

    &__group--alone &__btn {
        padding: 1.3rem;
    }

    &__btn-wrap {
        position: relative;

        &:hover .act-dropdown {
            visibility: visible;
            opacity: 1;
        }
    }

    &__btn {
        @extend %flexItemsCenter;
        padding: 1.3rem 2rem;
        gap: 1rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 0.1rem;
        height: 3rem;
        background: var(--top-act-group-separate);
    }

    &__user {
        position: relative;

        &:hover .act-dropdown {
            visibility: visible;
            opacity: 1;
        }
    }

    &__dropdown {
        right: -15px !important;
        width: min(300px, 100vw) !important;
    }

    &__dropdown-arrow {
        right: 15px !important;
    }

    &__avatar {
        display: block;
        width: 5rem;
        height: 5rem;
        border-radius: 0.8rem;
        cursor: pointer;
    }
}

.nav-btn {
    padding: 0 4rem;
    align-items: center;
    height: 5rem;

    @include abstracts.screen(sm) {
        padding: 0rem 2rem;
        height: 4.4rem;
    }

    &__title,
    &__qnt {
        margin-left: 1.6rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__qnt {
        margin-left: auto;
    }
}

.act-dropdown {
    position: absolute;
    width: min(500px, 100vw);
    top: 50px;
    right: -52px;
    padding-top: 28px;
    transition: visibility, opacity;
    transition-duration: 0.2s;
    visibility: hidden;
    opacity: 0;
    &__inner {
        position: absolute;
        padding: 30px;
        border-radius: 20px;
        background: var(--header-act-dropdown-inner-bg);
        box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-inner-shadow);
    }

    &__arrow {
        position: absolute;
        top: -18px;
        right: 78px;
        height: 2rem;
        filter: var(--dropdown-arrow-color);
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        overflow: auto;
    }

    &__separate {
        height: 1px;
        margin: 20px 0;
        background: var(--header-act-dropdown-inner-border-color);
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: var(--header-act-dropdown-inner-text-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__see-all {
        color: #0071dc;
        font-size: 2.2rem;
        line-height: 145.455%;
    }

    &__bottom {
        margin: 20px 0;
        padding: 20px 0;
        border-width: 1.5px 0;
        border-style: solid;
        border-color: var(--header-act-dropdown-inner-border-color);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.8rem;
        line-height: 145.455%;
        color: var(--header-act-dropdown-inner-text-color);

        &--bold {
            font-weight: 500;
        }
    }

    &__row + &__row {
        margin-top: 20px;
    }

    &__checkout {
        display: flex;
        justify-content: flex-end;

        &-btn {
            min-width: 278px;
        }
    }
}

.cart-review-item {
    margin: 20px 0;
    text-align: left;

    &__img-wrap {
        position: relative;
        padding-top: 100%;
        border: 1.5px solid var(--header-act-dropdown-inner-border-color);
        border-radius: 10px;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__branch {
        margin-top: 14px;
        font-size: 1.4rem;
        line-height: 142.857%;
        color: var(--header-act-dropdown-inner-text-color);
    }

    &__price {
        display: block;
        color: var(--header-act-dropdown-inner-text-color);
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
}

.user-menu {
    width: min(300px, 100vw) !important;
    &__top {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__avatar {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
    }

    &__name {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 6px;
    }

    &__list {
        margin-top: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0;
        font-size: 1.6rem;
    }

    &__separate {
        margin-top: 10px;
        padding-top: 20px;
        border-top: 1px solid #d2d1d6;
    }
}
