@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.breakpoint(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    position: relative;
    @extend %flexItemsCenter;
    padding: 3rem 0;

    @include abstracts.breakpoint(lg) {
        padding: 2rem 0;
    }

    @include abstracts.breakpoint(md) {
        padding: 1.6rem;
        justify-content: space-between;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 12.9rem;
   

    @include abstracts.breakpoint(xl) {
        margin-left: 2.5rem;
    }

    @include abstracts.breakpoint(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemsCenter;
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }
    }

    &__link {
        @extend %flexItemsCenter;
        height: 5rem;
        padding: 0 15px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__arrow-down {
        margin-top: 0.3rem;
        margin-left: 0.6rem;
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap: 2rem;
    margin-left: auto;

    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;
        min-width: 5rem;
        height: 5rem;
        border-radius: 0.8rem;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__group--alone {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--alone &__btn {
        padding: 1.3rem;
    }

    &__btn {
        @extend %flexItemsCenter;
        padding: 1.3rem 2rem;
        gap: 1rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 0.1rem;
        height: 3rem;
        background: var(--top-act-group-separate);
    }


    &__avatar {
        display: block;
        width: 5rem;
        height: 5rem;
        border-radius: 0.8rem;
        cursor: pointer;
    }
}
