@use "../abstracts";
.cate-items {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 2rem 2.6rem 2rem 2rem;
    border-radius: 1.6rem;
    background: var(--cate-item-bg);
    
    @include abstracts.screen(xl) {
        flex-direction: column;
    }

    @include abstracts.screen(lg) {
        height: 100%;
    }

    @include abstracts.screen(md) {
        flex-direction: row;
    }

    &__thumb {
        width: 11.6rem;
        height: 11.6rem;
        object-fit: contain;
        border-radius: 0.8rem;
        background: var(--cate-item-thumb-bg);

        @include abstracts.screen(xl) {
            width: 100%;
            height: 15rem;
        }

        @include abstracts.screen(md) {
            width: 8.8rem;
            height: 8.8rem;
        }
    }

    &__title {
        color: var(--cate-item-title-color);
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__desc {
        padding-right: 3rem;
        font-size: 1.6rem;
        line-height: 150%; /* 150% */

        @include abstracts.screen(xxl) {
            padding-right: 0;
        }

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }
}
