@use "../abstracts";

.logo {
    display: flex;
    align-items: center;
    column-gap: 1.4rem;

    @include abstracts.breakpoint(lg) {
        column-gap: 1rem;
        margin-left: 4rem;
    }

    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%; /* 145.455% */

        @include abstracts.breakpoint(lg) {
            font-size: 1.8rem;
            line-height: 144.444%;
        }
    }

    &__img {
        @include abstracts.breakpoint(lg) {
            width: 2.4rem;
        }
    }
}
