.search-bar {
    width: 100%;
    height: 5rem;
    background: var(--search-bar-bg);
    border-radius: 1rem;

    &__input {
        flex: 1;
        padding-left: 1.5rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 142.857%;

        &::placeholder {
            color: #9E9DA8;
            font-weight: 400;
        }
    }

    &__search-icon {
        padding: 0 1.5rem;
    }
}
