@use "../abstracts";

.slideshow {
    position: relative;
    margin: 4rem 0;

    @include abstracts.breakpoint(md) {
        margin: 3rem 0;
    }

    &__inner {
        display: flex;
        overflow: hidden;
    }

    &__items {
        position: relative;
        width: 100%;
        flex-shrink: 0;
        padding-top: 34%;

        @include abstracts.breakpoint(md) {
            padding-top: 50%;
        }
    }

    &__img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        border-radius: 2rem;
    }

    &__page {
        --color: #fff;
        display: flex;
        align-items: center;
        column-gap: 2.4rem;
        position: absolute;
        bottom: 15%;
        left: 5.3%;
        width: 17.8%;

        @include abstracts.breakpoint(md) {
            width: 32%;
        }
    }

    &__num {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: var(--color);

        @include abstracts.breakpoint(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__slider {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 0.4rem;
        background: var(--color);

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 1.4rem;
            height: 1.4rem;
            flex-shrink: 0;
            border: 0.4rem solid var(--color);
            border-radius: 50%;

            @include abstracts.breakpoint(md) {
                border-width: 0.3rem;
            }
        }

        &::before {
            left: 0;
            translate: -90%;
        }

        &::after {
            right: 0;
            translate: 90%;
        }
    }
}
