@use "../abstracts";

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-bg-color);
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a, img, select, textarea, input, button {
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: none;
}

input {
    background: transparent;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    &:hover {
        cursor: pointer;
    }
}

.icon {
    filter: var(--icon-color);
}