@use "../abstracts";

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-bg-color);
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a, img, select, textarea, input, button {
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: none;
}

input, textarea {
    background: transparent;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 1s 99999s;
    -webkit-text-fill-color: var(--text-color);
    caret-color: var(--text-color);
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    &:hover {
        cursor: pointer;
    }
}

.icon {
    filter: var(--icon-color);
}

i,em {
    font-style: italic;
}

b,strong {
    font-weight: 600;
}